*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header{
    background-color: #bbbbbbde;
    width: 100%;
    height: 45px;
}

nav{
    width: 100%;
    height: 45px;
}

.liconteiner{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border: solid black;
}

.liconteiner li{
    list-style: none;
}

.liconteiner li a{
    text-decoration: none;
    color: black;
}

.titulo{
    height: 550px;
    background-image: url(../img/fondo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border: solid black;
}

h1{
    text-align: center;
    align-items: center;
    color: black;
    line-height: 550px;
}



body{
    background-color: #01c1cc;
}

section{
    height: 420px;
    width: 100%;
}

.boxs{
    height: 375px;
    width: 100%;
}

.ampliar{
    height: 25px;
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    align-items: center;
    width: 100%;
    border: solid black;
}

.divmix{
    height: 350px;
    display: flex;
}

.subtitulosleft{
    height: 25px;
    margin: 5px;
    padding: 5px;
    color: black;
    text-align: left;
    font-size: 30px;
}

.subtitulosright{
    height: 25px;
    margin: 5px;
    padding: 5px;
    color: black;
    text-align: right;
    font-size: 30px;
}

.img{
    height: 250px;
    border-radius: 25px;
    margin: 25px;
}


.divtext{
    height: 250px;
    margin: 25px;
    justify-content: center;
}

.parrafos{
    font-size: 20px;
    justify-content: center;
    text-align: justify;    
}

h3{
    color: black;
    font-size: 35px;
}

.maps{
    height: 350px;
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 10px;
    padding: 10px;
}

.subir{
    height: 25px;
    text-decoration: none;
    color: black;
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 5px;
    padding: 5px;
    border: solid black;
    display: block;
}

.redes{
    height: 50px;
}

.sociales{
    height: 50px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 15px;
    list-style: none;
}

.logo{
    height: 100%;
    width: 100%;
}

   /* pag Voluntariado */
   /* Estilos para el formulario */
.containerform {
    width: 300px;
    margin: 0 auto;
}

.form {
    margin-bottom: 10px;
}

.form-label {
    display: block;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}

.form-submit {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

  /* Estilos cuando se pasa el puntero por encima del botón de enviar */
.form-submit:hover {
    background-color: #45a049;
}

  /* Estilos para resaltar los cuadros de los campos */
.form-input:focus {
    outline: none;
    box-shadow: 0 0 5px #4CAF50;
}