*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header{
    background-color: #bbbbbbde;
    width: 100%;
    height: 45px;
    margin: 5px;
    padding: 5px;
}

nav{
    width: 100%;
    height: auto;
}

main{
    margin: 5px;
    padding: 5px;
}

.liconteiner{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border: solid black;
}

.liconteiner li{
    list-style: none;
}

.liconteiner li a{
    text-decoration: none;
    color: black;
}

.bienvenida{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.imgbienvenida{
    max-width: 100%;
    max-height: 100%;
    border: solid black;
}

h1{
    height: 60px;
    text-align: center;
    align-items: center;
    color: black;
    line-height: auto;
    justify-content: center;
}



body{
    background-color: #01c1cc;
}

.bigbox {
    height: auto;
    width: 100%;
    border: solid black;
}


.divmix {
    height: auto;
    display: flex;
}

.ampliar {
    height: 25px;
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    align-items: center;
    width: 100%;
}

.subtitulosleft {
    height: 30px;
    margin: 5px;
    padding: 5px;
    color: black;
    text-align: left;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.subtitulosright {
    height: 25px;
    margin: 5px;
    padding: 5px;
    color: black;
    text-align: right;
    font-size: 30px;
}

.img {
    height: 70%;
    width: 100%;
    border-radius: 25px;
    margin: 25px;
    border: solid black;
}

.divtext {
    height: auto;
    width: 100%;
    margin: 25px;
    justify-content: auto;
    border: solid black;
    word-wrap: break-word;
    padding: 5px;
}

.parrafos {
    font-size: 20px;
    justify-content: center;
    text-align: justify;
}

.ampliar {
    height: 25px;
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    align-items: center;
    width: 100%;
}

@media (min-width: 480px) and (max-width: 900px) {
    .divmix {
    flex-direction: column;
    }

    .img {
    width: 100%;
    margin: 10px 0;
    }

    .divtext {
    width: 100%;
    margin: 10px 0;
    }
}
@media (max-width: 900px) {
    .img,
    .divtext {
    width: 100%;
    }
}

@media (max-width: 500px) {
    .img,
    .divtext {
    margin: 10px;
    }
}

h3{
    color: black;
    font-size: 35px;
}


.redes{
    height: 50px;
}

.sociales{
    height: 50px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 15px;
    list-style: none;
}


.logo{
    height: 50px;
    width: 50px;
}

   /* formularios */

.containerform {
    width: 300px;
    margin: 0 auto;
}

.form {
    margin-bottom: 10px;
}

.form-label {
    display: block;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}

.form-submit {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #45a049;
}

.form-input:focus {
    outline: none;
    box-shadow: 0 0 5px #4CAF50;
}

   /* cards censo */
.card {
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
}

.card-item {
    margin: 5px;
    padding: 10;
}

.card-item:nth-child(2) {
    height: 100px; /* Tamaño de la imagen */
}

@media (max-width: 992px) {
    .card {
    width: calc(50% - 20px);
    }
}

@media (max-width: 800px) {
    .card {
    width: calc(100% - 20px);
    }
}

@media (max-width: 480px) {
    .card {
    padding: 5px;
    }
}