@mixin box($padding, $margin){
    padding: $padding;
    margin: $margin;
}

@mixin size($width, $height){
    width: $width;
    height: $height;
}

.card {
    background: rgb(184, 153, 255);
    background: linear-gradient(47deg, rgba(184, 153, 255, 1) 34%, rgba(1, 193, 204, 1) 88%);
    border: 2px solid #dd2476;
    color: rgba(250, 250, 250, 0.8);
    @include box(null, 2rem);
}

.btn {
    border: 5px solid;
    border-image-slice: 1;
    background: var(--gradient);
    -webkit-text-fill-color: white;
    border-image-source: red;
    text-decoration: none;
    transition: all .4s ease;

    &:hover, &:focus {
        background: var(--gradient);
        -webkit-text-fill-color: #000000;
        border: 5px solid #15cc0eec;
        box-shadow: black 1px 0 10px;
        text-decoration: underline;
    }
}

.card {
    border: 1px solid black;
    @include box(10px, 10px);

    &-item {
        @include box(10px, 5px);

        &:nth-child(2) {
            @include size(null, 100px);
        }
    }

    @media (max-width: 992px) {
        @include size(calc(50% - 20px), null);
    }

    @media (max-width: 800px) {
        @include size(calc(100% - 20px), null);
    }

    @media (max-width: 480px) {
        @include box(5px, null);
    }
}