.lista{
    list-style: none;
}

.minibox{
    border: solid black;
    padding: 15px;
    margin: 10px;
    justify-content: center;
}
.subtituloslist{
    color: black;
    text-align: left;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    text-decoration: underline black;
}