@mixin box($padding, $margin){
    padding: $padding;
    margin: $margin;
}

@mixin size($width, $height){
    width: $width;
    height: $height;
}

h3 {
    color: black;
    font-size: 35px;
}

.redes {
    @include size(null, 50px);
    margin-bottom: 45px;
    justify-content: space-between;
    text-align: center;
}

.sociales {
    @include size(null, 50px);
    display: flex;
    @include box(15px, 10px);
    list-style: none;
    text-align: center;
    justify-content: center;

}

.logo {
    @include size(50px, 50px);

    &:hover {
        transform: scale(1.7);
    }
}
